



/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .btn {
  	 
	color: deeppink;
	font-weight: bold;
    height: 40px;
    width: 140px;
    float: left;
    margin: 0;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 40%;
    
	
	font-size: 16px;
	font-family: snell roundhand,cursive;
	background-color: transparent;
	cursor: pointer;
	border: none;


    
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .btn {
  	 
	color: deeppink;
	font-weight: bold;
    height: 40px;
    width: 140px;
    float: right;
    
	
	font-size: 16px;
	font-family: snell roundhand,cursive;
	background-color: transparent;
	cursor: pointer;
	border: none;


    
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .btn {
  	 
	color: deeppink;
	font-weight: bold;
    height: 40px;
    width: 140px;
    float: right;
    
	
	font-size: 16px;
	font-family: snell roundhand,cursive;
	background-color: transparent;
	cursor: pointer;
	border: none;


    
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {

    
     background-image: url("1.png");
     background-size: 30%;
     background-repeat: no-repeat;
     background-position: 50% -2%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    

     background-image: url("1.png");
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: 35% -2%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    

     background-image: url("1.png");
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: 50% -2%;
  }
}

@media only screen and (max-width: 400px) {


#myaudio {

  position: absolute;
  left: auto;
  right: 4%;
  bottom: 5%;
}



}

